name: Management System Gateway Build

on:
  push:
    branches: [ "master", "pre-master", "develop" ]
  pull_request:
    branches: [ "master", "pre-master", "develop" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'corretto'
        cache: 'maven'

    - name: Build with Maven
      run: mvn clean install
